<!DOCTYPE html>
<html lang="en" ng-app="tttGame">
<head>
  <meta charset="UTF-8">
  <title>Tic Tac Toe. Again. In Angular.</title>
  <script src="./js/angular.min.js"></script><!-- v1.4.7. -->
  <script src="./js/app.js"></script>
  <script src="./js/gameController.js"></script>
  <link rel="stylesheet" href="./css/style.css">
</head>
<body ng-controller="GameController as game">
<header>
  <h1>{{ game.title }}</h1><!-- Make sure everything is hooked up -->
</header>
<main>
  <div class="container">
    <div class="board">
      <div 
      class="cell"
      ng-repeat="cell in game.board track by $index"
      ng-attr-id="{{ $index }}"
      ng-click="game.move($index)">{{ cell }}</div>
    </div>
  </div>
</main>
</body>
</html>
